@page "/profile"
@inherits health_tracking_system_mobile.Components.Common.BaseComponent
<div class="container">
    <div class="row">
        <h2 class="col-12">
            @Translate["welcome"], @CurrentUser.FullName
        </h2>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-header">@Translate["profile.personal.header"]</div>
                <div class="card-body">
                    <div>@Translate["Email"]: @CurrentUser.Email</div>
                    <div>@Translate["Phone"]: @CurrentUser.Phone</div>
                    <div>@Translate["Dob"]: @CurrentUser.BirthDateShort</div>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
    @if (CurrentUser.IsAssignedToHospital && HospitalDataLoaded) {
        <div class="row">
            <div class="col-12 mb-3">
                <div class="card">
                    <div class="card-header">
                        @Translate["profile.hospital.header"]
                    </div>
                    <div class="card-body">
                        <div>@Translate["hospital.name"]: @UserHospital.Name</div>
                        <div>@Translate["hospital.address"]: @UserHospital.Address</div>
                    </div>
                    <div class="card-footer d-flex gap-1">
                    </div>
                </div>
            </div>
        </div>
    }
    @if (CurrentUser.IsDoctor && DoctorPatientsDataLoaded)
    {
        <div class="row mt-3 mb-3">
            <h2 class="col-12">@Translate["profile.patients.header"]:</h2>
        </div>

        @if (DoctorPatients.Count > 0)
        {
            <div class="row">
                @foreach (var doctorPatient in DoctorPatients)
                {
                    <div class="col-12">
                        <div class="card mb-3">
                            <div class="card-header">
                                @doctorPatient.FullName
                            </div>
                            <div class="card-body">
                                <div>@Translate["Email"]: @doctorPatient.Email</div>
                                <div>@Translate["Phone"]: @doctorPatient.Phone</div>
                                <div>@Translate["Dob"]: @doctorPatient.BirthDate</div>
                            </div>
                            <div class="card-footer">
                                <a href="/patients/@doctorPatient.Id" class="btn btn-primary">@Translate["common.details"]</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-12">
                    <div class="card mt-3">
                        <div class="card-header">Your patients</div>
                        <div class="card-body">
                            <h3>@Translate["profile.patients.no-patients-warning"]</h3>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
            </div>
        }
    }
    @if (CurrentUser.IsPatient)
    {
        @if (CurrentUser.HasDoctor && UserDoctorDataLoaded)
        {
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="card">
                        <div class="card-header">
                            @Translate["profile.doctor.header"]
                        </div>
                        <div class="card-body">
                            <div>@UserDoctor.FullName</div>
                            <div>@Translate["Email"]: @UserDoctor.Email</div>
                            <div>@Translate["Phone"]: @UserDoctor.Phone</div>
                        </div>
                        <div class="card-footer d-flex gap-1">
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-warning" role="alert">
                        @Translate["profile.patient-doctor.no-doctor-alert"]
                    </div>
                </div>
            </div>
        }
        @if (CurrentUser.HasCaretaker && UserCaretakerDataLoaded) {
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="card">
                        <div class="card-header">
                            @Translate["profile.patient-caretaker.header"]
                        </div>
                        <div class="card-body">
                            <div>@UserCaretaker.FullName</div>
                            <div>@Translate["Email"]: @UserCaretaker.Email</div>
                            <div>@Translate["Phone"]: @UserCaretaker.Phone</div>
                        </div>
                        <div class="card-footer d-flex gap-1">
                        </div>
                    </div>
                </div>
            </div>
        }
        else {
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-warning" role="alert">
                        @Translate["profile.patient-caretaker.no-caretaker-alert"]
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <h2 class="col-12 mb-3">
                @Translate["profile.health-measurements.header"]
            </h2>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <div class="alert alert-info">
                    @Translate["profile.health-measurements.heart-rate"]: @CurrentHeartRate
                </div>
            </div>
            <div class="col-12">
                <Chart @ref="_lineChart" Config="_lineChartConfig"></Chart>
            </div>
        </div>
    }
</div>